body {
    font-family: 'Jura', arial, serif;
    background-image: url(../images/background.jpg);
    background-size: cover;   
}

p {
    color: #f31cd6;
    -webkit-text-stroke:1px black; 
    font-size: 26px;
}